/* style.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

input[type="file"],
input[type="text"],
button {
    width: 95%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

#message {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.card {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    font-size: 18px;
    color: #212529;
    word-wrap: break-word; /* This will wrap long text */
    overflow-wrap: break-word; /* This will ensure that long words break and wrap onto the next line */
}

#fileList {
    list-style-type: none;
    padding: 0;
}

#fileList li {
    margin-bottom: 10px;
}

.download-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    overflow: hidden;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    max-width: 100%; /* Ensure it does not exceed the width of the parent */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

.download-link:hover {
    background-color: #45a049;
}

.download-link:active {
    background-color: #3e8e41;
}

@media (max-width: 600px) {
    .card {
        padding: 10px;
    }
    
    .download-link {
        font-size: 14px; /* Adjust font size for smaller screens */
        padding: 8px 15px; /* Adjust padding for smaller screens */
    }
}

.delete-button {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-button:hover {
    background-color: #c82333;
}

/* Style for the file item container */
li:hover {
    background-color: #f1f1f1;
    border-color: #ddd;
}

/* Progress bar styling */
#progressContainer {
    margin-top: 20px;
    text-align: center;
}

progress {
    width: 100%;
    height: 20px;
    border-radius: 5px;
    appearance: none;
}

progress::-webkit-progress-bar {
    background-color: #f4f4f4;
    border-radius: 5px;
}

progress::-webkit-progress-value {
    background-color: #4CAF50;
    border-radius: 5px;
}

#progressText {
    display: block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
